html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select{margin:0}html{box-sizing:border-box}*,*::before,*::after{box-sizing:inherit}img,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

/*GENERAL*/
* {
  font-family: "Raleway";
  color: #000;
  font-size: 16px;
  border: none;
  text-decoration: none;
}

body {
  font-weight: 500;
  margin: 1rem;
}

h1, h2 {
  font-weight: 900;
  font-size: 1.2rem;
  padding-bottom: 1rem;
}

h1 {
  margin-top: 1.5rem;
}

h2 {
  margin-left: 1rem;
}

a, button {
  cursor: pointer;
}

a:hover {
  color: #0065FC;
}

/*HEADER*/
#header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

#header__image {
  width: 6rem;
  order: 1;
}

/*nav header__menu*/
#header__menu {
  min-width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  order: 3;
}

#header__menu a {
  padding: 1rem;
  width: 50%;
  text-align: center;
  border-bottom: .2rem solid #F2F2F2;
}

/*a registration*/
#registration {
  order: 2;
  padding: 1rem;
  color: #0065FC;
  font-weight: 900;
  border-bottom: .2rem solid transparent;
}

#registration:hover {
  color: #000;
}

#registration:hover, #header__menu a:hover {
  border-bottom: .2rem solid #0065FC;
}

/*SECTION RESEARCH*/
#research-paragraph {
  margin-bottom: 1.5rem;
}

/*div research__city*/
input[type="search"] {
  height: 3rem;
  border-top: .1rem solid #F2F2F2;
  border-bottom: .1rem solid #F2F2F2;
  flex: 1;
  max-width: 15rem;
  padding-left: .5rem;
}

input[type="search"]::placeholder {
  font-weight: 900;
  color: #000;
}

#research__city-map {
  min-width: 3rem;
  height: 3rem;
  border-radius: .5rem 0 0 .5rem;
  background: url("Images/icons/map.svg") center center no-repeat #F2F2F2;
  background-size: .8rem;
}

#research__city-text {
  height: 3rem;
  min-width: 8rem;
  border-radius: 0 .5rem .5rem 0;
  display: none;
  background-color: #0065FC;
  color: #FFF;
  font-weight: 900;
}

#research__city-search {
  min-width: 3rem;
  height: 3rem;
  border-radius: .5rem;
  background: url("Images/icons/search.svg") center center no-repeat #0065FC;
  background-size: .8rem;
  margin-left: -.3rem;
}

#research__city-text:hover, #research__city-search:hover {
  background-color: #000;
}

#research__city {
  display: flex;
}

/*div research__filters*/
#research__filters {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#research__filters-title {
  width: 100%;
  margin: 1.2rem 1rem .5rem 0;
}

.research__filters-button {
  margin: .5rem .5rem .5rem 0;
  padding: .2rem .5rem 0 .5rem;
  border: .2rem solid #F2F2F2;
  border-radius: 2rem;
}

#economic::before, #family::before, #romantic::before, #animals::before {
  content:'';
  display: inline-block;
  vertical-align: middle;
  margin: -.4rem .5rem -.2rem -.7rem;
  width: 3rem;
  height: 3rem;
  border-radius: 2rem;
}

#economic::before {
  background: url("Images/icons/money.svg") center center no-repeat #DEEBFF;
  background-size: 1.5rem;
}

#family::before {
  background: url("Images/icons/child.svg") center center no-repeat #DEEBFF;
  background-size: 1rem;
}

#romantic::before {
  background: url("Images/icons/heart.svg") center center no-repeat #DEEBFF;
  background-size: 1rem;
}

#animals::before {
  background: url("Images/icons/dog.svg") center center no-repeat #DEEBFF;
  background-size: 1.5rem;
}

#research__filters a {
  font-weight: 900;
}

/*research__INFO*/
#research__info {
  margin: 1rem 0 1.5rem 0;
}

#research__info::before {
  content:'';
  display: inline-block;
  vertical-align: middle;
  width: 1.5rem;
  height: 1.5rem;
  margin: -.3rem .8rem 0 0;
  border-radius: 2rem;
  background: url("Images/icons/info.svg") center center no-repeat #0065FC;
  background-size: 1.5rem;
  border: .1rem solid #F2F2F2;
}

/*SECTION POPULAR, ACCOMODATION, ACTIVITES*/
#popular, #accomodation, #activities {
  margin: 0 -1rem;
  padding: 1.5rem .5rem;
}

#popular, #accomodation, #container-activities {
  display: flex;
  flex-direction: column;
}

/*SECTION POPULAR*/
#popular {
  background-color: #F2F2F2;
}

/*SECTION ACCOMODATION*/
#afficher_plus {
  padding: 1rem 1rem 0 1rem;
  font-weight: 900;
}

/*SECTION ACTIVITIES*/
#activities .card {
  border: none;
}

#container-activities {
  display: flex;
  flex-direction: column;
}

/*CARD POPULAR, ACCOMODATION, ACTIVITES*/
.card {
  display: flex;
  background-color: #FFF;
  box-shadow: .1rem .1rem #F2F2F2, -.1rem -.1rem #F2F2F2;
  border: .3rem solid #FFF;
  border-radius: 1rem;
  margin: .5rem .5rem;
  flex: 1;
}

.card:hover {
  transform: scale(1.02);
}

.card-column {
  height: 9rem;
  max-height: 13rem;
}

.card-row {
  height: 13rem;
  min-width: 16rem;
}

.card-row {
  flex-direction: column;
}

.card-photo {
  object-fit: cover;
}

.card-photo-column {
  border-radius: .8rem 0 0 .8rem;
  height: 100%;
  width: 40%;
}

.card-photo-row {
  border-radius: .8rem .8rem 0 0;
}

.card-photo-accomodation {
  height: 50%;
}

.card-photo-activities {
  height: 75%;
}

.card-content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.card-content-text-title {
  font-weight: 900;
  padding-bottom: .5rem;
}

.card-content-star {
  display: flex;
  height: .7rem;
}

/*FOOTER*/
h3 {
  font-weight: 900;
  padding-bottom: .5rem;
  padding-top: 1.5rem;
}

footer a {
  display: inline-block;
  font-size: .9rem;
  margin: .25rem 0;
}

footer {
  background: #F2F2F2;
  margin: 0 -1rem -1rem -1rem;
  padding: 0 4rem 1.5rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer div {
  padding: 0 1rem;
}

#container-activities {
  flex-wrap: wrap;
  width: 100%;
  flex-direction: column;
}

.display_column {
  display: flex;
  flex-direction: column;
}

/*GRAND ECRAN*/
@media screen and (min-width: 650px) {
  /*HEADER*/
  /*nav header__menu*/
  #header__menu {
    min-width: auto;
    order: 2;
    position: absolute;
    right: 8.5rem;
  }

  #header__menu a {
    width: auto;
    margin: 0 1rem;
   }

  #header__menu a,  #registration {
    border: none;
    border-top: .2rem solid transparent;
  }

  #header__menu a:hover, #registration:hover {
    /*padding-top: 0.8rem;*/
    border: none;
    border-top: .2rem solid #0065FC;
  }

  /*a registration*/
  #registration {
    order: 3;
  }

  /*SECTION RESEARCH*/
  /*div research__city*/
  #research__city-search {
    display: none;
  }

  #research__city-text {
    display: inline-block;
  }

  #research__city-search {
    display: none;
  }

  #research__city-text {
    display: inline-block;
  }

  /*div research__filters*/
  #research__filters-title {
    width: auto;
  }
}

@media screen and (min-width: 760px) {
  /*SECTION POPULAR, ACCOMODATION, ACTIVITES*/
  #main {
    display: flex;
  }

  #popular {
    order: 2;
    width: 35%;
  }

  #popular, #accomodation {
    border-radius: 1.2rem;
    margin: 0;
  }

  #accomodation {
    background-color: #F2F2F2;
    flex: 1;
    margin-right: 1rem;
    flex-direction: row;
    flex-wrap: wrap;
  }

  #accomodation h2, #afficher_plus {
    width: 100%;
  }

  #container-activities {
    flex-direction: row;
    min-height: 31rem;
  }

  .display_column {
    width: 50%;
    min-height: 31rem;
  }

  .large {
    max-height: 30rem;
  }

  .medium {
    max-height: 17rem;
  }

  .small {
    max-height: 12rem;
  }

  .large .card-photo-activities {
    height: 100%;
   }

  .medium .card-photo-activities {
    height: 78.5%;
  }

  .small .card-photo-activities {
    height: 69.5%;
  }
}

@media screen and (min-width: 1150px) {
  .display_column {
    width: 25%;
  }
}


/*TRES PETIT ECRAN*/
@media screen and (max-width: 350px) {
}