html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select{margin:0}html{box-sizing:border-box}*,*::before,*::after{box-sizing:inherit}img,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

* {
  font-family: "Raleway";
  color: #000;
  font-size: 16px;
  border: none;
  text-decoration: none;
}

body {
  font-weight: 500;
  margin: 1rem;
}

a, button {
  cursor: pointer;
}

#header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

#header__image {
  width: 6rem;
  order: 1;
}

#inscription {
  order: 2;
  margin-left: 1rem;
  padding: 1rem;
  color: #0065FC;
  font-weight: 900;
  border-bottom: .2rem solid transparent;
}

#inscription:hover {
  border-bottom: .2rem solid #0065FC;
  opacity: 60%;
}

#header__menu {
  min-width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  order: 3;
}

#header__menu a {
  padding: 1rem;
  width: 50%;
  text-align: center;
  border-bottom: .2rem solid #F2F2F2;
}

#header__menu a:hover {
  border-bottom: .2rem solid #0065FC;
  opacity: 60%;
}

h1 {
  font-weight: 900;
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

input[type="search"] {
  height: 3rem;
  border-top: .1rem solid #F2F2F2;
  border-bottom: .1rem solid #F2F2F2;
  flex: 1;
  max-width: 15rem;
  padding-left: .5rem;
}

input[type="search"]::placeholder {
  font-weight: 900;
  color: #000;
}

#recherche__ville-map {
  min-width: 3rem;
  height: 3rem;
  border-radius: .5rem 0 0 .5rem;
  background: url("Images/icons/map.svg") center center no-repeat #F2F2F2;
  background-size: .8rem;
}

#recherche__ville-texte {
  height: 3rem;
  min-width: 8rem;
  border-radius: 0 .5rem .5rem 0;
  display: none;
  background-color: #0065FC;
  color: #FFF;
  font-weight: 900;
}

#recherche__ville-texte:hover,  #recherche__ville-search:hover {
  opacity: 60%;
}

#recherche__ville-search {
  min-width: 3rem;
  height: 3rem;
  border-radius: .5rem;
  background: url("Images/icons/search.svg") center center no-repeat #0065FC;
  background-size: .8rem;
  margin-left: -.3rem;
}

#recherche__ville {
  margin-top: 1rem;
  display: flex;
}

h2 {
  font-weight: 900;
}

@media screen and (min-width: 650px) {
  #inscription {
    order: 3;
  }

  #header__menu {
    min-width: auto;
    order: 2;
    position: fixed;
    right: 8.5rem;
  }

  #inscription {
    border: none;
  }

  #header__menu a {
    width: auto;
    margin: 0 1rem;
    border: none;
  }

  #header__menu a:hover, #inscription:hover {
    padding-top: 0.8rem;
    border: none;
    border-top: .2rem solid #0065FC;
  }

 #recherche__ville-search {
    display: none
  }

  #recherche__ville-texte {
    display: inline-block;
  }
}